@import './css/water.css';
/*@import 'https://unpkg.com/@picocss/pico@latest/css/pico.min.css';*/

@-ms-viewport {
	width: device-width;
}

@font-face {
	font-family: "IBM";
	src: url("./fonts/ibm.ttf") format("truetype");
}

@font-face {
	font-family: "Bakbakone";
	src: url("./fonts/bakbakone.ttf") format("truetype");
}

@font-face {
	font-family: "Solitreo";
	src: url("./fonts/solitreo.ttf") format("truetype");
}

@font-face {
	font-family: "Symbols";
	src: url("./fonts/symbols.woff") format("woff");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

:root {
 /*--animate-duration: .8s;*/
 --min-width: 130px;
}

html {
	font-family: "IBM";
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
	overflow: hidden;
	width: 100svw;
	height: 100svh;
	scrollbar-color: #37a1c6 transparent;
}

/* GENERAL */

.gossip {
  display: flex;
  position: fixed;
  bottom: 70px;
  width: 30%;
  height: 80px;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 16pt;
  z-index: 99999;
}

.animFadeIn {
	animation: fadeIn .3s forwards;
}

.animFadeOut {
	animation: fadeOut .3s forwards;
}

.msg_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;

  & img {
	width: 300px;
	object-fit: contain;
  }

  & h1 {
	text-align: center;
	font-size: 44pt;
	color: #d2691e;
  }	
	
  & h2 {
	text-align: center;
	color: #555;
	font-weight: normal;
	font-size: 15Ppt;
	margin: 0;
  }
}


nav {
	margin-bottom: 20px;
	padding: 0;
	height: 3px;
}

p {
	text-align: justify;
	line-height: 1.6;
	padding: 10px;
	font-size: 12pt;
}

hr {
	display: flex;
	width: 80%;
}

h2 {
	font-size: 24pt;
	font-weight: bold;
	text-align: justify;
	padding: 2px;
	color: #085c97;
	padding-left: 20px;
}

h3 {
	font-size: 14pt;
	text-align: center;
	width: 100%;
	padding: 20px;
	padding-bottom: 0;
}

a, a:active {
	text-decoration: bold;
	color: #057c85;
}

.shadowed {
	box-shadow: 2px 2px 7px 0.1px #fff;
}

.button {
	width: auto;
	color: #fff;
	background-color: #085c97;
	border: 1px solid var(--border);
	border-radius: 5px;
	transition: .2s;
	text-align: center;
	height: 40px;
	padding: 8px;
	padding-left: 15px;
	padding-right: 15px;
}

.button:hover {
	color: #fff;
	transform: scale(1.05);
	cursor: pointer;
}

.button:active {
	background-color: #37a1c6;
	transform: scale(1);
}

/* LOADER */

.loader_container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: fixed;
	top: 0;
	width: 100svw;
	height: 100svh;
	background-color: var(--background-body);
	justify-content: center;
	align-items: center;
	z-index: 1500;
	margin: auto;
}

.loader {
  width: 4px;
  color: #085c97;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
    19px 0     0 5px, 38px 0     0 5px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 0px;
  transform: translateX(-38px);
  animation: funnydots 2s infinite linear;
}
@keyframes funnydots {
  12.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
    19px 0     0 5px, 38px 0     0 0px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 0px}
  25%   {box-shadow: 
    19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 0px}
  50%   {box-shadow: 
    19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
  62.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
    19px 0     0 5px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 5px}
  75%   {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
  87.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 5px, 57px 0     0 0px,
    19px 19px  0 5px, 38px 19px  0 0px, 57px 19px  0 0px}
}

.loaderPercent {
	display: flex;
	justify-content: center;
	position: relative;
	width: 50px;
	height: 10px;
	border: 2px solid #085c97;
	border-radius: 10px;
}

.loaderPercentBar {
	position: absolute;
	left: 0;
	height: 100%;
	border-radius: 10px;
	background: #085c97;
}

/* TOP SECTION */

.header_top {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	background-color: #000;
	background-image: url(./media/images/top_background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	backdrop-filter: grayscale(100%);
	z-index: 1000;
}

.header_box {
	display: flex;
	min-height: 200px;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.logo {
	display: flex;
	width: 25%;
	max-height: 200px;
	transition: .3s;

}

#h_logo {
	display: flex;
	width: 230px;
	position: fixed;
	padding-top: 35px;
	margin: -100px;
	margin-left: -35px;
	object-fit: contain;
	z-index: 1005;
}

.header_text_box {
	display: flex;
	width: 100%;
	margin-top: -40px;
	flex-flow: wrap-reverse;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header_title {
	display: flex;
	text-wrap: wrap;
	align-items: center;
	text-align: center;
	font-size: 4vw;
	width: 100%;
	justify-content: right;
	margin: auto;
	line-height: 1;
}

.header_title h1 {
	position: absolute;
	right: 0;
	width: 100%;
	color: #bbb; /*#085c97;*/
	font-family: "Bakbakone";
	font-size: 4vw;
	text-shadow: .5px .5px 1px #000;
}

.header_slogan {
	display: flex;
	justify-content: right;
	width: 100%;
	margin-top: 0;
	font-family: Solitreo;
	color: #d9b385;
}

.header_slogan p {
	position: absolute;
	text-align: center;
	margin-top: 35px;
	right: 0;
	width: 100%;
	padding: 0;
	font-size: 1.5vw;
	filter: brightness(80%);
}

/* MAIN MENU */
.main_menu {
	width: 100%;
	position: fixed;
	top: 150px;
	z-index: 1000;
}

.menu_bar {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40px;
	justify-content: center;
	align-items: center;
	background: #000;
}

.menu {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-left: 30px;
	padding: 5px;
	gap: 20px;
}

.menu_item {
	display: flex;
	font-weight: bold;
	padding: 0;
	color: #fff;
}

.menu_item p::after,
.m_menu_item p::after {
	content: "";
	height: 30px;
	width: 100%;
	position: absolute;
	border-bottom: 2px solid;
}

.menu_item::before,
.m_menu_item::before {
	content: "";
	height: 30px;
	width: 100%;
	position: absolute;
	border-bottom: 2px solid;
	transform: scaleX(0);
}

.menu_item:hover::before,
.m_menu_item:hover::before {
	border-color: #ea5421;
	transition: transform .3s;
	transform: scaleX(.95);
	transform-origin: left center;
}

.menu_item:hover {
	transform: scale(1);
	cursor: pointer;
}

.menu_item .mIcon {
  margin: auto;
}

.social {
	display: flex;
	width: 15%;
	position: fixed;
	justify-content: right;
	align-content: center;
	gap: 8px;
	padding: 0;
	right: 20px;
}

.social p {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #bbb;
	border-radius: 2px;
	width: 28px;
	height: 28px;
	padding: 0;
	font-size: 16pt;
}

.social_item:hover {
	transition: 0.3s;
	transform: scale(1.2);
	cursor: pointer;
	background-color: #ea5421;
}

/* MOBILE MENU */

.m_menu_container {
	display: none;
	flex-direction: column;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: transparent;
}

.m_menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 135px;
	background-color: rgb(20, 20, 20, 0.9);
	backdrop-filter: blur(3px);
	border-bottom-left-radius: 5px;
	width: 150px;
	height: 300px;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	transform: translate(100%);
	right: -2px;
	padding: 20px;
	z-index: 9999;
}

.m_menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
}

.mIcon {
	color: #777;
}

.m_menu_item {
	display: flex;
	justify-content: left;
	width: 100%;
	font-size: 13pt;
	font-weight: bold;
	color: #eee;
	list-style: none;
	transition: .3s;
}

.m_menu_item:hover {
	color: #ea5421;
	cursor: pointer;

}

.m_menu_btn {
	display: none;
	position: fixed;
	color: #d9b385;
	filter: opacity(50%);
	font-family: Symbols;
	font-size: 16pt;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	padding: 0;
	animation-duration: 0.3s;
	right: 10px;
}

.m_menu_btn:hover {
	cursor: pointer;
	transform: scale(1.2);
}

/* NOTIFICATIONS */

.s_notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 0;
  right: 0;
  bottom: 42px;
  z-index: 10000;
}

.ntf_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-width: fit-content;
  background-color: rgb(10, 10, 10, 0.8);
  border-radius: 5px;
  transition: .3s;
  transform: translate(100%);
}

.ntf_msg {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: fit-content;
}

.ntf_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30pt;
  height: 100%;
  font-size: 36px;
}

.ntf_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.ntf_text p {
  padding: 0;
  margin: 0;
  font-size: 13pt;
  color: #eee;
  text-align: left;
  white-space: pre-line;
}

/* LEFT SIDE BAR - INFO */

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

/* WORKING HOURS */

.working_hours {
	display: flex;
	justify-content: center;
	position: fixed;
	margin: auto;
	margin-left: 45px;
	left: 0;
	top: 270px;
	width: 280px;
	height: 282px;
	border: 1px solid #aaa;
	background-color: #eee;
}

.working_hours_title {
	text-align: center;
	padding: 20px;
	color: #37a1c6;
}

.working_hours li {
	list-style: none;
	padding-left: 20px;
	line-height: 1.5;
	font-size: 14pt;
}

.time {
	position: absolute;
	width: 100%;
	color: #000;
	z-index: 2;
}

.fa-clock {
	color: #057c85;
}

#clock {
	font-size: 50pt;
	width: 100%;
	text-align: center;
	color: #777;
}

/* RIGHT SIDE BAR - WWP SERVICE */

.wwp_services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	position: fixed;
	right: 40px;
	top: 270px;
	border: 1px solid #aaa;
	background-color: #eee;
	width: 280px;
	height: fit-content;
	padding: 10px;
}

.budget {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.budget_title {
	display: flex;
	text-align: center;
	width: auto;
	color: #37a1c6;
	padding: 15px;
}

.budget img {
	width: 50%;
	filter: opacity(85%);
}

.budget .button {
	width: 95%;
	text-align: center;
}

.budget_float {
	display: none;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: auto;
	position: fixed;
	bottom: 50px;
	right: 10px;
	border: 1px solid #eee;
	border-radius: 50%;
	background-color: #085c97;
	z-index: 1000;
	transition: .2s;
}

.budget_icon_float {
	width: 85%;
	filter: grayscale(100%);
	filter: invert(100%);
}

.budget_float:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.budget_float:active {
	background-color: #37a1c6;
	transform: scale(1);
}

/* PAGE CONTENT */

.page_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 140px;
    width: 100%;
    height: 100svh;
	transition: .2s;
}

.main {
	position: fixed;
	top: 140px;
	overflow-x: hidden;
	width: 100%;
	max-width: 980px;
	height: calc(100% - 180px);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 85px;
	transition: .2s;
}

/***** CONTENT *****/

/* WELCOME */

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	box-shadow: 1px 1px 10px 1px var(--box-shadow);
}

.welcome_title {
	color: #eee;
	background-color: #085c97;
	text-align: center;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.welcome_msg {
	border: 1px solid var(--border);
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

/* ABOUT US */

.s_about_us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.about_us_title {
	width: 100%;
	padding-bottom: 20px;
	color: #085c97;
}

.about_us_box {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.about_us_content {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.about_us_img {
	max-width: 450px;
	margin-top: 10px;
}

.about_us_img img {
	width: 100%;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 1px var(--box-shadow);
}

.about_us_text {
	flex: 1;
	width: 55%;
}

/* WHY CHOOSING US */

.s_why_us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.why_us_title {
	width: 100%;
	color: #085c97;
	text-align: left;
	padding: 20px;
}


.why_us_cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	gap: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-bottom: 30px;
	column-gap: 50px;
	width: 150px;
	height: 225px;
	border: 1px solid var(--border);
	box-shadow: 1px 1px 10px 1px var(--box-shadow);
	border-radius: 2px;
	transition: .3s;
}

.card:hover>img {
	transform: scale(1.05);
}

.card img {
	width: 60%;
	margin-top: 30px;
	height: auto;
	filter: opacity(80%);
	filter: invert(17%) sepia(95%) saturate(2433%) hue-rotate(189deg) brightness(100%) contrast(94%);
	transition: .3s;
}

@media (prefers-color-scheme: dark) {
.card img {
	filter: invert(83%) sepia(0%) saturate(458%) hue-rotate(194deg) brightness(105%) contrast(99%);
}}


.card p {
	align-self: baseline;
	background-color: #222;
	height: 75px;
	margin-bottom: 0;
	margin-top: 30px;
	line-height: 1.2;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

@media (prefers-color-scheme: dark) {
	.card p {
	  background-color: #085c97;
	}
}

.card_text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20px;
	text-align: center;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}

#experienced_technicians {
	animation-delay: .1s;
}

#parts_quality {
	animation-delay: .2s;
}

#work_waranteed {
	animation-delay: .3s;
}

#service_on_time {
	animation-delay: .4s;
}

#cover_major_brands {
	animation-delay: .5s;
}

/* SERVICES */

.e_services {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: fit-content;
}

.e_services_cards_box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	margin: auto;
	width: 98%;
	height: 98%;
	padding: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.e_services_card {
	display: flex;
	flex: 2;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 142.5px;
	max-width: 240px;
	margin: 0;
	padding: 10px;
	border: 1px solid var(--border);
	border-radius: 2px;
	box-shadow: 1px 1px 10px 1px var(--box-shadow);
}

.e_services_img {
	display: flex;
	justify-content: center;
	overflow: hidden;
	border-radius: 5px;
}

.e_services_card img {
	width: 100%;
	border-radius: 5px;
	transition: .7s;
	object-fit: cover;
}

.e_services_card img:hover {
	transform: scale(1.2);

}

.e_services_card p {
	font-weight: bold;
	font-size: 11.5pt;
	padding: 5px;
}

#e_service_painting {
	animation-delay: 0.2s;
}

#e_service_washing {
	animation-delay: 0.3s;
}

#e_service_rescreening {
	animation-delay: 0.4s;
}

#e_service_painting {
	animation-delay: 0.2s;
}

/* REVIEWS */

.s_reviews {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.reviews_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
}

.reviews_title {
	padding-bottom: 20px;
}

.review_labels,
.budget_labels,
.message_labels {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#review_counter {
	margin-top: 5px;
	text-align: right;
	margin-right: 20px;
	font-size: 12pt;
	color: silver;
}

.review_card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 380px;
	padding: 5px;
	background-color: transparent;
	border: 1px solid var(--border);
	border-radius: 2px;
	box-shadow: 1px 1px 10px 1px var(--box-shadow);
}

.review_card_text {
	text-align: center;
	width: 100%;
}

.review_author span,
.review_date span {
	display: flex;
	align-items: flex-start;
	text-align:left;
	font-weight: bold;
}

.review_author,
.review_date,
.review_text {
	padding: 2px;
	height: fit-content;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.new_review {
	margin-bottom: 30px;
}

.review_icon {
display: flex;
	justify-content: center;
	align-items: center;
	color: #37a1c6;
	width: 21px;
	height: 21px;
	font-size: 18pt;
}

.reviewsMoreLess {
  display: flex;
  justify-content: space-between;
  color: #37a1c6;
  font-weight: 700;
  margin-top: -30px;
  margin-bottom: 30px;
  width: 95%;
  z-Index: -1;
}

.reviewsMoreLess p:hover {
	cursor: pointer;
	transform: scale(1.1)
}

/* Rating */
.rateTableContainer {
	display: flex;
	justify-content: left;
	position: sticky;
	top: -37px;
	width: 97%;
	max-width: 400px;
	margin-bottom: 10px;
	border: 1px solid var(--border);
	border-radius: 2px;
	background: var(--background-body);
	box-shadow: 1px 1px 10px 1px var(--box-shadow);
	transition: .3s;
}

.rateGeneral {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	padding: 10px;
	margin: 5px;
	border-right: 1px solid var(--border);
}

.rateStarsGeneral .rateStar {
	font-size: 28px;
}

.rate {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: 80px;
	padding: 0;

}

.rateTotal {
	width: 95%;
	padding: 0;
}

.rateStats {
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin: auto;
	margin-left: 10px;
	width: 53%;

}

.rateBar {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 95%;
	height: 20px;
	padding: 0;
}

.rateBar span {
	font-size: 16px;
	font-weight: 700;
}

.rateBar .rateStar {
	font-size: 16px;
	height: 100%;
	padding-bottom: 1px;
}

.ratePercentBar {
	display: flex;
	min-width: 80%;
	height: 9.8px;
	background: transparent;
	border: 1px solid var(--border);
	border-radius: 8px;
	padding: 0;
}

.ratePercentBarProgress {
	height: 8px;
	background: #37a1c6;
	border-radius: 8px;
	margin: 0;
	padding: 0;
	transition: .5s;
}

.rateStar {
	color: #D99428;
	font-size: 28px;
	transition: .3s;
}

.rateStar:hover {
	cursor: pointer;
	transform: scsle(1.05);
}

.rateStar:active {
	cursor: pointer;
	transform: scsle(1.5);
}

.reviewUserRating {
	display: flex;
	justify-content: left;
	width: 100%;
	padding: 8px;
}

.reviewUserRating .rateStar {
	color: #D99428;
	font-size: 18px;
	transition: .3s;
}

/* OUR TEAM */

.s_our_team {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.team_title {
	padding-bottom: 20px;
}

.team_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
	max-width: 750px;
	overflow-x: auto;
	white-space: wrap;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	padding-top: 10px;
	padding-bottom: 50px;
	scroll-snap-padding: 10px;
	box-shadow: inset 10px 1px 15px 10px var(--background-body);
}

.team_card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: var(--min-width);
	max-width: var(--min-width);
	height: 180px;
	font-size: 90%;
	scroll-snap-align: center;
	transition: .2s;
}

.team_card_reference {
	display: flex;
	position: absolute;
	left: 50%;
	transform: translate(-50%,32px);
	width: var(--min-width);
	height: 100%;
	z-index: -1;
}

.team_card_img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.team_card_img img {
	width: 100%;
	border-radius: 50%;
	animation-fill-mode: forwards;
}

.team_card_text {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	padding-left: 2px;
	padding-right: 2px;
	width: 100%;
}

.team_card_text h3 {
	color: #37a1c6;
	font-weight: bold;
	width: 100%;
	font-size: 100%;
}

.anim_image_grow {
	animation: grow .2s linear;
}

.anim_image_shrink {
	animation: shrink .2s linear;
}

@keyframes grow {
	  0% {width: 90px;}
	100% {width: 160px; z-index: 10;}
}

@keyframes shrink {
	  0% {width: 160px;}
	100% {width: 90px; filter: grayscale(100%); z-index: -1;}
}


/* CONTACT */

.s_contact_us {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: fit-content;
	margin-bottom: 75px;
}

.contact_title,
.contact_message {
	display: flex;
	width: 96%;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.contact_title h2 {
	margin-top: 30px;
	color: #fbbb40;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.contact_message {
	display: flex;
	justify-content: left;
	margin-left: 50px;
	align-items: center;
	width: 100%;
	height: 85%;
}

.contact_full_msg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.contact_box {
	display: flex;
	justify-content: left;
	flex-direction: column;
	width: 100%;
	height: 560px;
	border-radius: 2px;
	background-image: url(./media/images/contact_us.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
}

.contact_form {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: fit-content;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.contact_form label {
	width: 95%;
	color: #eee;
	font-size: 13pt;
}

#message_counter {
	text-align: right;
	margin-right: 20px;
	font-size: 12pt;
	color: silver;
}

.contact_form .frm_text,
.contact_form textarea {
	width: 95%;
	color: var(--text-main);
}

.contact_form label,
.contact_form textarea {
	margin-bottom: 10px;
}

textarea {
	resize: none;
	height: 120px;
}

.contact_form label {
	font-weight: 500;
	margin-left: 20px;
}

.contact_form input,
.contact_form textarea {
	border: 1px solid #bbb;
	border-radius: 2px;
	text-align: justify;
	background-color: #fff;
	outline-color: #111;
	font-size: 12pt;
	padding: 5px;
	margin-bottom: 10px;
	transition: .3s;
}

.contact_form input:focus,
.contact_form textarea:focus {
	transform: scale(1.02);
	outline: none;
	box-shadow: 0 0 5pt 0.5pt #777;
}

.form_btn {
	margin: auto;
	margin-top: 10px;
	width: 150px;
	text-align: center;
	transition: .2s;
}

.form_btn:disabled {
	background-color: #eee;
	border-color: #999;
	color: #aaa;
	text-align: center;
}

.form_btn:enabled {
	color: #111;
	background-color: #37a1c6;
	border-color: #333;
	text-align: center;
}

.form_btn:enabled:hover,
.form_btn:enabled:focus {
	background-color: #085c97;
	color: #ddd;
	transform: scale(1.1);
}

.form_btn:enabled:active {
	background-color: #37a1c6;
	transform: scale(1);
}

.wrong {
	box-shadow: 0 0 8px .1px #ea5421;
}

.important {
	color: #d2691e;
	font-size: 12pt;
	font-weight: bold;
}

/* Contact Me Info */

.contact_me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #011326;
	width: 100%;
	padding-top: 15px;
}

.contact_me_info {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #eee;
	height: 35px;
	width: 100%;
	padding: 5px;
}

.contact_me_info p {
	padding: 0;
	text-align: center;
}

.contact_icon {
	color: #fbbb40;
	font-size: 15pt;
}

/* BUDGET FORM - REVIEW FORM*/

.s_budget_form,
.s_review_form {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	background-color: rgba(20, 20, 20, 0.7);
	backdrop-filter: blur(2.5px);
	z-index: 10000;
}

.budget_form_back,
.review_form_back {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: .2s;
	z-index: 10001;
}

.budget_form_box,
.review_form_box {
	display: flex;
	width: 400px;
	min-width: 360px;
	flex-direction: column;
	border: 1px solid var(--border);
	border-radius: 2px;
	box-shadow: 1px 1px 10px 1px #111;
	padding: 5px;
	margin: 10px;
	background-color: var(--background-body);
	animation-duration: .5s;
}

.budget_close_btn,
.review_close_btn {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 100%;
	padding: 5px;
}

.budget_close_btn p,
.review_close_btn p {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	text-align: right;
	padding: 5px;
	padding-top: 5px;
	font-size: 16pt;
	color: #555;
	transition: .3s;
}

.budget_close_btn>p:hover,
.review_close_btn>p:hover {
	cursor: pointer;
	transform: scale(1.2);
}

.budget_close_btn>p:active,
.review_close_btn>p:active {
	transform: scale(1);
}

.budget_form_title h2,
.review_form_title h2 {
	width: 100%;
	text-align: center;
	color: #085c97;
	padding: 20px;
	padding-top: 0;
	margin-top: -20px;
}

.budget_form,
.review_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.budget_form label,
.review_form label {
	width: 95%;
	color: var(--text-main);
	font-size: 14pt;
	font-weight: 600;
}

.budget_form .frm_text,
.budget_form textarea,
.contact_form .frm_text,
.contact_form textarea,
.review_form .frm_text,
.review_form textarea {
	width: 95%;
	color: #555;
	animation-duration: .8s;
}

.budget_form label,
.budget_form textarea,
.review_form label,
.review_form textarea {
	margin-bottom: 10px;
}

textarea {
	resize: none;
	height: 120px;
}

.budget_form label,
.review_form label {
	font-weight: 550;
	margin-left: 20px;
}

.budget_form input,
.budget_form textarea,
.review_form input,
.review_form textarea {
	border: 1px solid #bbb;
	border-radius: 5px;
	text-align: justify;
	background-color: #fff;
	outline-color: #111;
	transition: 0.3s;
}

.budget_form input:focus,
.budget_form textarea:focus,
.review_form input:focus,
.review_form textarea:focus {
	transform: scale(1.02);
	outline: none;
	box-shadow: 0 0 8px .1px #999;
}

.budget_form input,
.budget_form textarea,
.review_form input,
.review_form textarea {
	font-family: IBM;
	font-size: 13pt;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

/* PORTFOLIO */

.s_portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: fit-content;
	min-width: 380px;
	margin-top: 20px;
	padding: 0;
}

.portfolio_box {
	width: 100%;
	height: 90%;
}

.media_tags {
	display: flex;
	justify-content: left;
	align-items: end;
	width: 100%;
}

.images_box,
.videos_box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	min-width: 380px;
	background-color: var(--background-body);
	box-shadow: 1px 1px 10px 1px var(--box-shadow);
	border-radius: 0px 2px 2px 2px;
	border: 1px solid var(--border);
	transition: .2s;
	overflow: scroll;
	scrollbar-width: none;
	padding-bottom: 50px;
}

.videos_box {
	gap: 50px;
	padding-top: 50px;
}

.images_tag,
.videos_tag {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	padding: 0;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	box-shadow: 1px 1px 10px 1px var(--box-shadow);
	transition: .1s;
}

.images_tag:hover,
.videos_tag:hover {
	cursor: pointer;
}

.videos_tag {
	margin-left: -10px;
}

.images_tag h3,
.videos_tag h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14pt;
	padding: 5px;
}

.tagIcon {
	font-size: 32px;
}

.tag_active {
	z-index: 10;
	height: 40px;
	background-color: #085c97;
}

.tag_inactive {
	z-index: 9;
	height: 36px;
	background-color: #ddd;
}

.images_album {
	display: flex;
	justify-content: center;
	min-width: 190px;
	height: 220px;
	padding: 36px;
	position: relative;
	overflow: visible;
}

.album_thumbnail {
	display: flex;
	justify-content: center;
	flex-directiln: column;
	position: absolute;
	top: 60px;
	width: 120px;
	height: 160px;
	border-radius: 2px;
	border: 3px solid var(--background-body);
	background: var(--background-body);
	transition: transform 0.2s ease-in-out;
	overflow: hidden;
}

.album_thumbnail img {
	height: 100%;
	position: absolute;
	transition: .2s;
	background: transparent;
}
.video_frame {
	transform: rotate(270deg);
}

.video_thumbnail {
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	min-width: 120px;
	margin: auto;
	aspect-ratio: 1;
	border: 1px solid var(--background-body);
	box-shadow: 2px 2px 10px 5px var(--box-shadow);
	transition: .2s;
	transform: scale(1);
}

.video_thumbnail:hover {
	cursor: pointer;
	transform: scale(1.15);
	filter: brightness(.8);
}

.video_thumbnail img,
.video_thumbnail video {
	width: 100%;
	position: absolute;
	aspect-ratio: 1;
}

.video_thumbnail video {
	background: #000;
}

.video::poster {
	width: 100%;
    object-fit: cover;
}

.no_videos,
.no_images {
	display: flex;
	font-size: 200px;
	color: var(--border);
	margin-top: 30px;
}

.images_album {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  z-Index: 100;
}

.stacked {
  box-shadow: 1px 1px 10px 1px var(--box-shadow);
}

/* Media viewer/player */

.imageViewer,
.image_scrolling_back,
.videoPlayer,
.video_player_back {
	display: none;
	opacity: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	animation: fadeIn 0.3s forwards;
	z-Index: 1000;
}

.imageViewer,
.videoPlayer {
	background-color: rgb(10, 10, 10, 0.9);
	backdrop-filter: blur(2px);
}

.image_scrolling_back,
.video_player_back {
	display: flex;
	opacity: 1;
	flex-direction: column;
	padding-top: 50px;
	z-Index: 1001;
}

.image_scrolling_box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	height: 100%;
	gap: 20px;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	overflow: visible;
	overflow-X: scroll;
	transition: .2s;
}

.video_player_box {
	display: flex;
	width: 80%;
}

.video_player_box video {
	width: 100%;
	border-radius: 2px;
	box-shadow: 2px 2px 10px 2px #000;
}

.closeButton {
	display: flex;
	position: fixed;
	top: 150px;
	right: 40px;
	font-size: 44px;
	color: orange;
	filter: drop-shadow(1px 1px 2px #111);
	transition: .2s;
	transform: scale(1);
	z-Index: 999999;
}

.closeButton:hover {
	cursor: pointer;
	transform: scale(1.3);
}

.closeButton:active {
	transform: scale(0.8);
}

.image_card_div {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	scroll-snap-align: center;
	transition: .2s;
}

.image_card_div img {
	width: 95%;
	border: 3px solid #eee;
	border-radius: 3px;
	box-shadow: 2px 2px 10px 2px #000;
}

.scrolling_indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 75px;
}

.scrollingDot {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	color: #bbb;
	font-size: 26px;
	width: 20px;
	filter: drop-shadow(1px 1px 2px #111);
	transition: .2s;
}

.scrollingDotActive {
	color: orange;
	transform: scale(1.8);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* ========= */

.p_social {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 2px;
	align-items: center;
	position: absolute;
	margin-top: -110px;
	color: #bbb;
	z-index: 5000;
	background-color: rgb(40, 40, 40, 0.9);
	backdrop-filter: blur(2px);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.p_social p {
	width: 28px;
	height: 40px;
	padding: 5px;
	text-align: center;
	text-shadow: 1px 1px 5px #222;
	border-radius: 5px;
	z-index: 102;
}

.p_social .social_item:hover {
	transition: 0.3s;
	transform: scale(1.2);
	cursor: pointer;
	background-color: transparent;
	color: #ea5421;
}
/* FOOTER */

.footer {
	display: flex;
	position: fixed;
	bottom: 0;
	justify-content: center;
	width: 100%;
	height: 40px;
	/* background: linear-gradient(to top, #000000 40px, transparent 70px); */
	background: #000;
	z-index: 1000;

  & p {
	color: #ccc;
	font-size: 11pt;
	margin: auto;
	padding: 3px;
  }
}

/* COOKIES */

.s_cookies {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%
}

.cookies {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 99999;
	gap: 20px;
	bottom: 45px;
	width: fit-content;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgb(50, 50, 50, 0.99);
	backdrop-filter: blur(3px);
	border: 1px solid #bbb;
	border-radius: 5px;
}

.cookies .text {
	font-size: 11pt;
	text-align: justify;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #bbb;
}

.cookies a,
p a {
	color: #e5934e;
}

.cookies a:hover {
	color: #d2691e;
	cursor: pointer;
}

.cookies .button {
	color: #000;
	font-size: 10pt;
	border-color: #333;
}

.cookies .button:hover {
	transform: scale(1.1);
}

.cookies_policy {
	background-color: #eee;
	margin-bottom: 20px;
}

.cookies_policy .title {
	font-size: 20pt;
	text-align: center;
	padding: 20px;
	color: #085c97;
}

.cookies_policy a {
	color: #37a1c6;
}

.cookies_policy ul {
	margin-left: 20px;
	list-style: none;
}


#footer {
	text-align: center;
}

.spinn {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  to { transform: rotate(360deg); }
}


/*================= RESPONSIVE ================*/

@media screen and (max-width: 375px) {
	.e_services_card p {
		font-size: 10pt;
	}
}

@media screen and (max-width: 390px) {
	.e_services_card p {
		font-size: 10pt;
	}
}

@media screen and (max-width: 700px) {
	.main {
		width: 100%;
	}

	.header_title h1 {
		text-align: right;
		font-size: 4.5vw;
	}

	#h_slogan {
		text-align: right;
		font-size: 2.5vw;
	}

	.header_text_box {
		width: 100%;
		padding-top: 20px;
		gap: 5px;
	}

	.header_title,
	.header_slogan {
		width: 100%;
	}

	.header_title h1 {
		font-size: 4.6vw !important;
		align-self: last baseline;
	}

	.header_slogan p {
		font-size: 2.8vw !important;
		margin-top: -5px;
	}

	.team_box {
		justify-content: left;
	}

}

@media screen and (max-width: 850px) {

	#h_logo {
		left: 5px !important;
	}

	.social {
		font-size: 10pt !important;
		gap: 2px;
	}

	.about_us_box,
	.about_us_content {
		flex-direction: column;
	}

	.about_us_img,
	.about_us_text {
		width: 98%;
	}

	.contact_message {
		margin-left: 0;
		justify-content: center;
	}

	.contact_full_msg {
		flex-direction: column;
	}

	.contact_me_info {
		padding-bottom: 20px;
		margin-right: auto;
		margin-top: auto;
		width: 100%;
		border-radius: 0;
	}

	.video_popup video {
		width: 95%;
	}

}

@media screen and (max-width: 900px) {
	.menu {
		display: none;
	}

	.m_menu_btn {
		display: flex;
	}

	.social {
		justify-content: center;
		width: 100%;
		right: 0;
	}
}


@media screen and (max-width: 1155px) {
	.cookies {
		width: 98%;
	}
}



@media screen and (max-width: 1365px) {
	.main_container {
		width: 98%;
		gap: 20px;
	}
	
	.budget_float {
		display: flex;
	}

	.welcome {
		margin-top: 50px;
	}

	.info,
	.service {
		display: none;
	}

	.header_title h1,
	#h_slogan {
		right: 15px;
	}
}

@media screen and (max-width: 1368px) {
	.header_top {
		background-size: cover;
		background-position: center;
	}

	.header_top,
	.header_box {
		height: 100px;
	}

	.menu_bar {
		margin-top: -50px;
	}

	.logo {
		height: 100px;
	}

	#h_logo {
		position: fixed;
		margin: auto;
		top: 8px !important;
		left: 50px;
		width: 85px !important;
	}

	.working_hours,
	.wwp_services {
		margin-top: -100px;
	}

	.main_container {
		margin-top: 70px;
	}

	.e_services_card p {
		font-size: 10.5pt;
	}
}

@media screen and (max-width: 1445px) {

	.menu {
		justify-content: left;
	}

	#h_logo {
		position: fixed;
		padding: 0;
		margin: auto;
		top: 8px;
		width: 165px;
	}
}

@media screen and (max-width: 1680px) {

	.working_hours {
		left: -30px;
	}

	.wwp_services {
		right: 20px;
	}

	.main_container {
		width: 55%;
	}
}